  html {
  color: #eaefef;
  font-family: helvetica neue;
  }

  body {
    background-color: #10202f;
    text-align: center;
    width: 100%;

  }

  /******** HOME ********/

  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5em;
    letter-spacing: 2px;
    position: sticky;
    top: 0px;
    background-color: #10202f;
    padding-top: 8%;
    padding-bottom: 2%;
  }

  .navigation h4:hover {
    color: #773832;
  }

  .nav-link {
    margin: 1%;
    cursor: crosshair;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1%;
  }

  .social-icons a {
    text-decoration: none;
  }

  .social-link {
    margin: 2%;
    cursor: crosshair;
  }

  .social-link img {
    width: 60px;
  }

  .social:hover {
    width: 70px;
  }

  .logo {
    margin-top: 2%;
    cursor: none;
  }

  .logo img {
    max-width: 100%;
  }

  .social-icons img {
    max-width: 100%;
    height: auto !important;
  }

  .theme-toggle {
    width: 100%;
    text-align: center;
    margin-top: 15%;
    cursor: crosshair;
  }

  .toggle {
    color: #eaefef;
    background-color: #773832;
    text-transform: uppercase;
    font-family: helvetica neue;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1em;
    padding: 10px;
  }

  .toggle:hover {
    letter-spacing: 5px;
  }

  /******* ABOUT *******/

  .about-container {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .scoti img {
    max-width: 300px;
    border-radius: 50%;
    border-style: solid;
    border-color: #eaefef;
    border-width: 5px;
  }

  .about-me {
    max-width: 600px;
    padding-left: 2%;
    text-align: left;
    color: #c6a661;
  }

  .about-me p {
    font-size: 1.1em;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: georgia;

  }

  .navy-on-gold {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 1%;
    display: inline-block;
  }

  .navy-on-gold a{
    text-decoration: none;
    text-transform: none;
    color: #c6a661;
  }

  .navy-on-gold:hover {
    color: #10202f;
    background-color: #c6a661;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 1%;
    display: inline-block;
  }

  .navy-on-gold:hover a {
    text-decoration: underline;
    color: #10202f;
    cursor: crosshair;
  }

  /******* BLOG *******/

  .blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .blog-card {
    max-width: 60%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 0%;
    margin-bottom: 2%;
    margin-top: 1%;
    color: #c6a661;
    font-size: 1em;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: georgia;
    text-align: left;
  }

  .blog-card h4 {
    font-family: helvetica neue;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }

  .navy-on-gold-blog {
    display: inline-block;
    /* max-width: 70%; */
    color: #eaefef;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
  }

  .navy-on-gold-blog:hover {
    background-color: #eaefef;
    color: #10202f;
    text-align: left;
    padding-top: 0;
    font-size: 1.6em;
    max-width: 90%;
    padding-left: 5%;
    margin-left: 5%;
  }

  .navy-on-gold-blog a {
    text-decoration: none;
    text-transform: uppercase;
    color: #c6a661;
    font-family: helvetica neue;
    font-weight: 500;
    font-size: .8em;
  }
  .navy-on-gold-blog a:hover {
    text-decoration: underline;
    cursor: crosshair;
  }

  .blog-tag {
    color: #eaefef;
    background-color: #773832;
    text-transform: uppercase;
    font-family: helvetica neue;
    font-weight: 500;
    font-size: .8em;
    padding: 5px;
    margin: 1%;
    line-height: 28px;
  }

  .blog-tag-holder {
    text-align: center;
  }

  .blog-tag-holder p {
    padding: 0;
  }

  /******* PROJECTS *******/

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .project-card {
    max-width: 300px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding: 2%;
    border-color: #c6a661;
    border-style: solid;
    border-width: 2px;
    border-radius: 2%;
    /* box-shadow: 1px   #10202f;  */

  }

  .project-card h4 {
    color: #c6a661;
    font-family: helvetica neue;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
  }

  .project-tag {
    color: #eaefef;
    /* background-color: #eaefef; */
    background-color: #773832;
    text-transform: uppercase;
    font-family: helvetica neue;
    font-weight: 500;
    font-size: .8em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* display: inline-block; */
    margin: 1%;
    line-height: 28px;

  }

  .project-tag-holder {
    text-align: center;
  }

  .project-card a {
    text-decoration: none;
    text-transform: uppercase;
    color: #c6a661;
    font-family: helvetica neue;
    font-weight: 500;
    font-size: 1em;
    cursor: crosshair;
  }
