@media screen and (min-width: 601px) {
  html {
  color: #eaefef;
  font-family: helvetica neue;
  font-kerning: 5px;
  }

  body {
    background-color: #10202f;
    text-align: center;
    width: 100vw;

  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-card {

  }

  .blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .blog-card {

  }

  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.4em;
    letter-spacing: 2px;

  }

  .navigation h4:hover {
    color: #773832;
  }

  .nav-link {
    margin: 1%;
    cursor: crosshair;
  }

  .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .social-icons a {
    text-decoration: none;
  }

  .social-link {
    margin: 2%;
    cursor: crosshair;
  }

  .social-link img {
    width: 60px;
  }

  .social:hover {
    width: 70px;
  }

  .logo {
    margin-top: 2%;
    cursor: none;
  }

  .social-icons img {
    max-width: 100%;
    height: auto !important;
  }

  .scoti img {
    max-width: 300px;
    border-radius: 50%;
    border-style: solid;
    border-color: #eaefef;
    border-width: 5px;
  }

  .about-container {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-me {
    max-width: 600px;
    padding-left: 2%;
    text-align: left;
    color: #c6a661;
  }

  .about-me p {
    font-size: 1.1em;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: georgia;

  }

  .navy-on-gold {
    /* background-color: #eaefef; */
    /* color: #10202f;
    background-color: #c6a661; */
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 1%;
    display: inline-block;
    /* padding: 1%; */
  }

  .navy-on-gold:hover {
    /* background-color: #eaefef; */
    color: #10202f;
    background-color: #c6a661;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 1%;
    display: inline-block;
    /* padding: 1%; */
  }

  .pop-up {
    /* height: 200px;
    width: 100px;
    margin-right: 100px; */
    margin-top: 10px;
    /* float: right; */
    display:none;
  }

}
