@media screen and (min-width: 601px) {
  html {
  color: #eaefef;
  font-family: helvetica neue;
  font-kerning: 5px;
  }

  body {
    background-color: #10202f;
    text-align: center;
    width: 100vw;

  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-card {

  }

  .blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .blog-card {

  }

  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.4em;
    letter-spacing: 2px;

  }

  .navigation h4:hover {
    color: #773832;
  }

  .nav-link {
    margin: 1%;
    cursor: crosshair;
  }

  .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .social-icons a {
    text-decoration: none;
  }

  .social-link {
    margin: 2%;
    cursor: crosshair;
  }

  .social-link img {
    width: 60px;
  }

  .social:hover {
    width: 70px;
  }

  .logo {
    margin-top: 2%;
    cursor: none;
  }

  .social-icons img {
    max-width: 100%;
    height: auto !important;
  }

  .scoti img {
    max-width: 300px;
    border-radius: 50%;
    border-style: solid;
    border-color: #eaefef;
    border-width: 5px;
  }

  .about-container {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-me {
    max-width: 600px;
    padding-left: 2%;
    text-align: left;
    color: #c6a661;
  }

  .about-me p {
    font-size: 1.1em;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: georgia;

  }

  .navy-on-gold {
    /* background-color: #eaefef; */
    /* color: #10202f;
    background-color: #c6a661; */
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 1%;
    display: inline-block;
    /* padding: 1%; */
  }

  .navy-on-gold a{
    text-decoration: none;
    text-transform: none;
    color: #c6a661;
  }

  .navy-on-gold:hover {
    /* background-color: #eaefef; */
    color: #10202f;
    background-color: #c6a661;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 1%;
    display: inline-block;

    /* padding: 1%; */
  }

  .navy-on-gold:hover a {
    text-decoration: underline;
    color: #10202f;
    cursor: crosshair;
  }

  .blog-container {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; */
    /* max-width: 50%; */
  }

  .blog-card {
    max-width: 60%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 0%;
    margin-bottom: 2%;
    margin-top: 1%;
    /* border-radius: 5%; */
    /* border-bottom-style: solid; */
    /* border-width: 2px; */
    /* border-bottom-width: 3px; */
    /* border-bottom-color: #eaefef; */
    color: #c6a661;
    font-size: 1em;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: georgia;
    text-align: left;
  }

  .blog-card h4 {
    font-family: helvetica neue;
    font-kerning: 5px;
    /* text-transform: uppercase; */
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }

  .navy-on-gold-blog {
    /* background-color: #eaefef; */
    color: #eaefef;
    /* color: #10202f; */
    /* background-color: #c6a661; */
    /* padding-top: 1%; */
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 2%;
    display: inline-block;
    max-width: 90%;
    float: right;
    /* padding: 1%; */
  }
  .navy-on-gold-blog:hover {
    /* background-color: #eaefef; */
    color: #10202f;
    background-color: #eaefef;
    padding-top: 0;
    font-size: 1.6em;
  }

  .navy-on-gold-blog a {
    text-decoration: none;
    text-transform: uppercase;
    color: #c6a661;
    font-family: helvetica neue;
    font-kerning: 10px;
    font-weight: 500;
    font-size: .8em;
  }
  .navy-on-gold-blog a:hover {
    text-decoration: underline;
    cursor: crosshair;
  }

  .first-blog {
    margin-top: 5%;
  }




}
