@media screen and (max-width: 600px) {
  html {
  color: #eaefef;
  font-family: helvetica neue;
  font-kerning: 5px;
  }

  body {
    background-color: #10202f;
    text-align: center;

  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-card {

  }

  .blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .blog-card {

  }

  .navigation {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2em;
  }

  .navigation h4:hover {
    color: #773832;
  }

  .nav-link {
    margin: 4%;
    cursor: crosshair;
  }

  .nav-link h4 {
    font-size: 80px;
  }

  .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .social-icons a {
    text-decoration: none;
  }

  .social-link {
    margin: 2%;
    cursor: crosshair;
  }

  .social-link img {
    width: 80px;
  }

  .logo {
    margin-top: 4%;
    margin-bottom: 2%;
    cursor: none;
  }

  .logo img {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 2%;
  }

  .social-icons img {
    max-width: 100%;
    height: auto !important;
  }
}
